<?xml version="1.0"?>
<launch>

    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x gdb --args" /> <!-- local debug -->
    <!--arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x valgrind" /--> <!-- local debug -->
    
    <arg name="battery_voltage_offset" default="" />

    <arg name="base_hw_limits" default="$(find robotnik_base_hw)/config/robotnik_base_hw_limits.yaml"/>
    <arg name="base_hw_config" default="$(find robotnik_base_hw)/config/robotnik_base_hw.yaml"/>

    <!--arg name="k_analog_inputs_multipliers" type="yaml" value="$(optenv ROBOT_K_ANALOG_INPUTS_MULTIPLIERS [1.0, 1.0, 1.0, 1.0])" /-->
 
    <rosparam file="$(arg base_hw_limits)" command="load" />    
    <rosparam file="$(arg base_hw_config)" command="load" />    

    <node name="robotnik_base_hw" pkg="robotnik_base_hw" type="robotnik_base_hw_node" output="screen" launch-prefix="$(arg launch_prefix)" >
        <param name="k_battery_voltage_offset" value="$(arg battery_voltage_offset)"/>

        <!--param name="k_analog_inputs_multipliers" value="$(arg k_analog_inputs_multipliers)"/-->
    </node>
	
</launch>
